body {
    font-family: 'Montserrat', sans-serif;
}

#intro {
    background: #CEB8A4;
}

#sidebar {
    background: #c6aa9d; 
}

.content {
    background: #8c9086; 
}

#three {
    background: #8f8681; 
}

.self-portrait {
    box-shadow: 12px 15px #CEB8A4;

}

#footer {
    background: #8f8681; 
    filter:brightness(50%); 
}
